header
{
    .profile
    {
        height: 70%;
        max-height: 400px;
        background: linear-gradient(rgb(120, 120, 255), rgb(203, 120, 255));
        display: flex;
        justify-content: space-evenly;
    }
    .navbar
    {
        display: flex;
        justify-content: space-around;
        background-color: rgba(47, 113, 255, 0.6);
        height: 80%;
        box-shadow: -4px 8px 14px 4px;
        margin-top: 0px;
        ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;
            justify-content: space-evenly;
            li
            {
                width: 70px;
                border-radius: 20%;
            }
        }
    }
}