div.product_cart
{
    
    background-color: white;
    height: 50%;
    max-height: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    img
    {
        max-width: 80px;
        max-height: 80px;
    }
}
div.checkout_container
{
    display: flex;
    justify-content: space-evenly;
}
article
{
    width: 70%;
    max-width: 600px;
    overflow: hidden;
    display: flex;
}
article.checkout_cart
{
    background-color: rosybrown;
}
article.checkout_credentials
{
    background-color: rgb(188, 176, 143);
    form
    {
        label, input
        {
            align-self: center;
        }
    }
}
article.checkout_swish
{
    background-color: rgb(147, 143, 188);
}
