header.top
{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(73,9,121,1) 35%, rgba(0,212,255,1) 100%);    
    div.Title
    {
        height: 30%;
        max-height: 190px;
        display: flex;
        justify-content: center;
        div.Logo
        {
            div.logo
            {
                width: 10%;
                height: 10%;
            }
        }
        h1, h2
        {
            text-align: center;
            color: white;
        }
        .pillar
        {
            margin-top: -5px;
            img
            {
                width: 200px;
                margin:auto;
            }
        }
        .logo
        {
            margin-left: auto;
            margin-right: auto;
            img
            {
                width: 100%;
                max-width: 70px;
                margin: auto;
            }
        }
    }
    .navbar
    {
        display:flex;
        justify-content: space-around;
        background-color: rgba(47, 64, 255, 0.6);
        height: 80%;
        box-shadow:-4px 8px 14px 4px;
        margin-top: 0px;
        ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;
            justify-content: space-around;
            li.button {
                width: 170px;
                border-radius: 20%;
                a {
                    display: block;
                    text-align: center;
                    padding: 8px;
                    color: white;
                    text-decoration: none;
                    &:hover
                    {
                        border-radius: 4px;
                        background: rgb(172,182,0);
                        background: linear-gradient(45deg, rgba(172,182,0,1) 0%, rgba(2,197,185,1) 100%);
                    }
                  }
                  :hover
                  {
                      box-shadow: 1px 1px 20px 4px black;
                  }
              }
            li.search
            {
                width: 500px;
                margin: auto;
                margin-left: 45px;
                form
                {
                    label
                    {
                        color: white;
                    }
                }
                &:hover
                    {
                        box-shadow: 1px 1px 20px 4px black;
                        border-radius: 4px;
                        background: rgb(172,182,0);
                        background: linear-gradient(45deg, rgba(172,182,0,1) 0%, rgba(2,197,185,1) 100%);
                    }
                    .Cart:hover, .Cart_btn:hover{
                        display:flex;       
                    }
                    .Cart
                    {
                        display: none;
                        background-color: white;
                    }
                        }
            }
    }
}