header.top
{
    background-color: rgba(117, 184, 255, 0.582);
    div.Title
    {
        display: flex;
        justify-content: center;
        div.pillar, div.Logo
        {
            float: left;
        }
        div.Logo
        {
            div.logo
            {
                width: 10%;
                height: 10%;
            }
        }
        h1, h2
        {
            text-align: center;
        }
        .pillar
        {
            img
            {
                width: 200px;
                margin:auto;
            }
        }
        .logo
        {
            display: flex;
            h1, h2
            {
                text-align: center;
            }
        }
    }
    nav
    {
        background-color: rgb(47, 255, 127);
        box-shadow: 1px 2px 20px 4px;
        display: flex;
        justify-content: space-around;
    }
}