main
{
    section.home
    {
        margin-top: 0;
        width: 100%;
        max-width: 3000px;
        height: 400px;
        max-height: 4000px;
        div.slide
        {
            position: relative;
            z-index:1;
            background-repeat: no-repeat;
            display: block;
            background-size: 100% 100%;
            height: 100%;
            margin: auto;
            div
            {
                float: left;
                width: 100%;
                height: 100%;
                h1, h2, a
                {
                    margin-top: 50px;
                    margin-left: 50px;
                    opacity: 1;
                    color: white;
                    text-align: left;
                }
                a {
                    text-decoration: none;
                    &:hover
                    {
                        border-radius: 4px;
                        background: rgb(172,182,0);
                        background: linear-gradient(45deg, rgba(172,182,0,1) 0%, rgba(2,197,185,1) 100%);
                        box-shadow: 1px 1px 20px 4px black;
                    }
                  }
            }
        }
        div#sec_1
        {
            background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip"); /* fallback */
            div
            {
                margin: 0;
                background: linear-gradient(#eb01a56d, #d136317a); /* W3C */
            }
        }
        div#sec_2
        {
            display: none;
            background: #eb01a5;
            background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip"); /* fallback */
            div
            {
                width: 100%;
                height: 100%;
                margin: 0;
                background: linear-gradient(#eb01a5, #d13531); /* W3C */
                opacity: 0.5;
            }
        }
        div#sec_3
        {
            display: none;
            background: #eb01a5;
            background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip"); /* fallback */
            div
            {
                width: 100%;
                height: 100%;
                margin: 0;
                background: linear-gradient(#eb01a5, #d13531); /* W3C */
                opacity: 0.5;
            }
        }
        div.slideshow_control_panel
            {
                overflow: hidden;
                background-color: rgba(7, 7, 66, 0.724);
                display: flex;
                justify-content: space-evenly;
                margin: 0;
                padding: 1rem 0;
        
                list-style-type: none;
                div
                {
                    overflow: hidden;
                    width: 10%;
                    height: 10%;
                    max-height: 50px;
                    max-width: 16px;
                    border-radius: 50%;
                    background-color: rgba(30, 21, 79, 0.594);
                    a
                    {
                        text-align: center;
                        color: white;
                    }
                }
            }
    }
    section.view_start
    {
        height: 40px;
        margin-top: 50px;
    }
}
