article.loginsection
{
    background-color: rgba(65, 65, 65, 0.596);
    height: 100%;
    section.select
    {
        display: flex;
        justify-content: center;
        button
        {
            appearance: none;
            border: none;
            background-color: rgba(65, 65, 65, 0.596);
            h1
            {
                color: white;
            }
            &:hover
            {
                background-color: white;
                h1
                {
                    color: black;
                }
            }
        }
    }
    section.logincontents
    {
        width: 70%;
        max-width: 200px;
        margin: auto;
        form
        {
            label
            {
                color: white;
            }
            input
            {
                height: 70%;
                border: none;
                appearance: none;
            }
        }
    }
    section#signuppage
    {
        display: none;
    }
}