div.productmain
{
    background-color: rgb(247, 255, 240);
    section.images
    {
        height: 70%;
        max-height: 700px;
        margin: auto;
        display: flex;
        justify-content: center;
        div.img
        {
            margin-top: 5px;
            height: 20%;
            max-height: 500px;
            width: 20%;
            padding: 10px;
            background-color: gainsboro;
            opacity: 0.9;
            border-radius: 10px;
            img
            {
                margin: auto;
                height: 100%;
                max-height: 400px;
                width: 100%;
            }
            &:hover
            {
              opacity: 1;
              background: linear-gradient(45deg, rgba(173, 182, 0, 0.66), rgba(2, 197, 184, 0.628) 100%);
              box-shadow: 4px 8px 14px 4px;
              height: 21%;
              width: 21%; 
            }
        }
    }
    section.content
    {
        background-color: rgb(207, 214, 200);
        border-radius: 10px;
        div.title
        {
            width: 100%;
            max-width: 500px;
            margin: auto;
            h2
            {
                text-align: center;
                font-size: 45px;
            }
            div.line
            {
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .first
            {
                border-bottom: 10px solid #141d1b;
                width:100%;
                max-width:700px;
            }
            .second
            {
                border-bottom: 10px solid #23322f;
                width:85%;
                max-width:550px;  
            }
        }
        div.descriptions
        {
            height: 70%;
            max-height: 600px;
            display: flex;
            justify-content: space-evenly;
            section
            {
                width: 70%;
                max-width: 500px;
                background-color: rgb(159, 164, 154);
                h3
                {
                    text-align: left;
                }
                form
                {
                    button
                    {
                        border-radius: 10px;
                    background-color: rgb(172, 61, 61);
                    }
                }
            }
        }
    }
}