@import "header";
@import "home";
@import "products";
@import "footer";

section
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    background-color: rgba(237, 237, 237, 0.897);

}
header, main, footer
{
    width: 100%;
    max-width: 3000px;
    margin:auto;
    overflow: hidden;
}
p, a, h1, h2, h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3
{
    text-align: center;
}