header.top {
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(73, 9, 121) 35%, rgb(0, 212, 255) 100%);
}
header.top div.Title {
  height: 30%;
  max-height: 190px;
  display: flex;
  justify-content: center;
}
header.top div.Title div.pillar, header.top div.Title div.Logo {
  float: left;
}
header.top div.Title div.Logo div.logo {
  width: 10%;
  height: 10%;
}
header.top div.Title h1, header.top div.Title h2 {
  text-align: center;
  color: white;
}
header.top div.Title .pillar img {
  width: 200px;
  margin: auto;
}
header.top div.Title .logo {
  margin-left: auto;
  margin-right: auto;
}
header.top div.Title .logo img {
  width: 100%;
  max-width: 70px;
  margin: auto;
}
header.top .navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(47, 64, 255, 0.6);
  height: 40px;
  box-shadow: -4px 8px 14px 4px;
}
header.top .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
header.top .navbar ul li.button {
  width: 170px;
  border-radius: 20%;
}
header.top .navbar ul li.button a {
  display: block;
  text-align: center;
  padding: 8px;
  color: white;
  text-decoration: none;
}
header.top .navbar ul li.button a:hover {
  border-radius: 4px;
  background: rgb(172, 182, 0);
  background: linear-gradient(45deg, rgb(172, 182, 0) 0%, rgb(2, 197, 185) 100%);
}
header.top .navbar ul li.button :hover {
  box-shadow: 1px 1px 20px 4px black;
}
header.top .navbar ul li.search {
  width: 500px;
  margin: auto;
  margin-left: 45px;
}
header.top .navbar ul li.search form label {
  color: white;
}
header.top .navbar ul li.search:hover {
  box-shadow: 1px 1px 20px 4px black;
  border-radius: 4px;
  background: rgb(172, 182, 0);
  background: linear-gradient(45deg, rgb(172, 182, 0) 0%, rgb(2, 197, 185) 100%);
}

main section.home {
  margin-top: 0;
  width: 100%;
  max-width: 3000px;
  height: 400px;
  max-height: 4000px;
}
main section.home section.slide {
  background-repeat: no-repeat;
  display: block;
  background-size: 100% 100%;
  height: 100%;
  max-height: 1000px;
  margin: auto;
}
main section.home section.slide div {
  float: left;
  margin-top: 10%;
}
main section.home section.slide div h1, main section.home section.slide div h2, main section.home section.slide div a {
  color: white;
  text-align: left;
}
main section.home section.slide div a {
  display: block;
  text-align: center;
  padding: 8px;
  color: white;
  text-decoration: none;
}
main section.home section.slide div a:hover {
  border-radius: 4px;
  background: rgb(172, 182, 0);
  background: linear-gradient(45deg, rgb(172, 182, 0) 0%, rgb(2, 197, 185) 100%);
}
main section.home section.slide div :hover {
  box-shadow: 1px 1px 20px 4px black;
}
main section.home section#sec_1 {
  background: 172deg, rgb(106, 172, 255) 0%, rgb(72, 255, 114) 100%;
}
main section.home section#sec_1 div {
  background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip");
}
main section.home section#sec_2 {
  background-image: url("https://www.thoughtco.com/thmb/PCVPjqDcfiY4az_kycvn-EJA-e8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/swarthmore-college-Eric-Behrens-flickr-5706ffe35f9b581408d48cb3.jpg");
}
main section.home section#sec_3 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ec/Dartmouth_College_campus_2007-10-20_09.JPG");
}

footer {
  background-color: rgba(194, 194, 194, 0.897);
}

body {
  margin: 0;
  background-color: rgba(237, 237, 237, 0.897);
}

header, main, footer {
  width: 100%;
  max-width: 3000px;
  margin: auto;
}

p, a, h1, h2, h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  text-align: center;
}/*# sourceMappingURL=style.css.map */