header.top {
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(73, 9, 121) 35%, rgb(0, 212, 255) 100%);
}
header.top div.Title {
  height: 30%;
  max-height: 190px;
  display: flex;
  justify-content: center;
}
header.top div.Title div.pillar, header.top div.Title div.Logo {
  float: left;
}
header.top div.Title div.Logo div.logo {
  width: 10%;
  height: 10%;
}
header.top div.Title h1, header.top div.Title h2 {
  text-align: center;
  color: white;
}
header.top div.Title .pillar img {
  width: 200px;
  margin: auto;
}
header.top div.Title .logo {
  margin-left: auto;
  margin-right: auto;
}
header.top div.Title .logo img {
  width: 100%;
  max-width: 70px;
  margin: auto;
}
header.top .navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(47, 64, 255, 0.6);
  height: 40px;
  box-shadow: -4px 8px 14px 4px;
}
header.top .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
header.top .navbar ul li.button {
  width: 170px;
  border-radius: 20%;
}
header.top .navbar ul li.button a {
  display: block;
  text-align: center;
  padding: 8px;
  color: white;
  text-decoration: none;
}
header.top .navbar ul li.button a:hover {
  border-radius: 4px;
  background: rgb(172, 182, 0);
  background: linear-gradient(45deg, rgb(172, 182, 0) 0%, rgb(2, 197, 185) 100%);
}
header.top .navbar ul li.button :hover {
  box-shadow: 1px 1px 20px 4px black;
}
header.top .navbar ul li.search {
  width: 500px;
  margin: auto;
  margin-left: 45px;
}
header.top .navbar ul li.search form label {
  color: white;
}
header.top .navbar ul li.search:hover {
  box-shadow: 1px 1px 20px 4px black;
  border-radius: 4px;
  background: rgb(172, 182, 0);
  background: linear-gradient(45deg, rgb(172, 182, 0) 0%, rgb(2, 197, 185) 100%);
}

main section.home {
  margin-top: 0;
  width: 100%;
  max-width: 3000px;
  height: 400px;
  max-height: 4000px;
}
main section.home div.slide {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  display: block;
  background-size: 100% 100%;
  height: 100%;
  margin: auto;
}
main section.home div.slide div {
  float: left;
  width: 100%;
  height: 100%;
}
main section.home div.slide div h1, main section.home div.slide div h2, main section.home div.slide div a {
  margin-top: 50px;
  margin-left: 50px;
  opacity: 1;
  color: white;
  text-align: left;
}
main section.home div.slide div a {
  text-decoration: none;
}
main section.home div.slide div a:hover {
  border-radius: 4px;
  background: rgb(172, 182, 0);
  background: linear-gradient(45deg, rgb(172, 182, 0) 0%, rgb(2, 197, 185) 100%);
  box-shadow: 1px 1px 20px 4px black;
}
main section.home div#sec_1 {
  background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip"); /* fallback */
}
main section.home div#sec_1 div {
  margin: 0;
  background: linear-gradient(rgba(235, 1, 165, 0.4274509804), rgba(209, 54, 49, 0.4784313725)); /* W3C */
}
main section.home div#sec_2 {
  display: none;
  background: #eb01a5;
  background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip"); /* fallback */
}
main section.home div#sec_2 div {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#eb01a5, #d13531); /* W3C */
  opacity: 0.5;
}
main section.home div#sec_3 {
  display: none;
  background: #eb01a5;
  background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip"); /* fallback */
}
main section.home div#sec_3 div {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#eb01a5, #d13531); /* W3C */
  opacity: 0.5;
}
main section.home div.slideshow_control_panel {
  overflow: hidden;
  background-color: rgba(7, 7, 66, 0.724);
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
main section.home div.slideshow_control_panel div {
  overflow: hidden;
  width: 10%;
  height: 10%;
  max-height: 50px;
  max-width: 16px;
  border-radius: 50%;
  background-color: rgba(30, 21, 79, 0.594);
}
main section.home div.slideshow_control_panel div a {
  text-align: center;
  color: white;
}
main section.view_start {
  height: 40px;
  margin-top: 50px;
}
main section.products_view {
  overflow: hidden;
  height: 20%;
  background-color: white;
  margin: auto;
  border-radius: 10px;
}
main section.products {
  overflow: hidden;
  width: 90%;
  max-width: 2000px;
  height: 60%;
  max-height: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  padding: 20px;
}
main section.products div.product {
  width: 50%;
  height: 40%;
  max-width: 135px;
  max-height: 300px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(159, 159, 159, 0.781);
  padding: 10px;
}
main section.products div.product h1, main section.products div.product p {
  text-align: center;
}
main section.products div.product div.img {
  width: 50%;
  height: 70%;
  max-width: 50px;
  max-height: 70px;
  margin: auto;
}
main section.products div.product div.img img {
  width: 50px;
  height: 70px;
}
main section.products div.product:hover {
  background-color: rgb(38, 202, 109);
  box-shadow: 5px 9px 7px 2px;
}

div.productmain {
  background-color: rgb(216, 216, 216);
  height: 100%;
  max-height: 700px;
  overflow: hidden;
}
div.productmain h2, div.productmain p, div.productmain h3 {
  color: white;
}
div.productmain h2 {
  font-size: 50px;
}
div.productmain h3 {
  text-align: left;
}
div.productmain div {
  display: flex;
  justify-content: space-evenly;
}
div.productmain div section {
  float: left;
  max-width: 100%;
  max-height: 100%;
  width: 550px;
  height: 400px;
  margin-top: auto;
  background-color: rgb(219, 219, 219);
  border-radius: 20px;
  box-shadow: 1px 1px 20px 4px black;
}
div.productmain div section div {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 25px;
}
div.productmain div section img {
  width: 50%;
  max-width: 500px;
  height: 70%;
  max-height: 500px;
}
div.productmain div section button {
  width: 200px;
  height: 70px;
  display: block;
  margin: auto;
  padding: 8px;
  color: white;
  text-decoration: none;
  background: linear-gradient(45deg, rgba(120, 120, 120, 0.557) 0%, rgba(201, 201, 201, 0.557) 100%);
  border-radius: 50px;
  border-width: 0px;
}
div.productmain div section button:hover {
  width: 220px;
  height: 90px;
  background: rgb(172, 182, 0);
  background: linear-gradient(45deg, rgb(172, 182, 0) 0%, rgb(2, 197, 185) 100%);
  box-shadow: 1px 1px 20px 4px black;
}

footer {
  background-color: rgba(194, 194, 194, 0.897);
}

section {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(237, 237, 237, 0.897);
}

header, main, footer {
  width: 100%;
  max-width: 3000px;
  margin: auto;
  overflow: hidden;
}

p, a, h1, h2, h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  text-align: center;
}/*# sourceMappingURL=style.css.map */